.box{
    display: flex;
    //flex-wrap:nowrap
    //flex-direction:column
    flex-flow: row nowrap;
    div{
        background: #ccc;  
        margin: 5px;   
        &:nth-child(1){
           width: 100px; 
        }
        &:nth-child(2){
           flex-grow: 1;
           flex-basis: 50%;
//         flex: 1;
        }
        &:nth-child(3){
            flex-grow: 1;
            flex-basis: 50%;
//          flex: 1;
        }
    }
    
}
